
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hockey Event Visualizer</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Hockey Event Visualizer</h1>
    <div id="rink-container">
      <img id="rink" src="/static/rink.png" alt="Hockey Rink">
      <div id="plot"></div>
    </div>
  </div>
  <script src="/static/js/rink_plot.js"></script>
</body>
</html>
